<div class="box">
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="https://github.com/as567652" target="_blank" title = "as567652" class="fa fa-github"></a>
            <a href="mailto:as567652@gmail.com" target="_blank" title="as567652@gmail.com" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/in/abhinav-sh/" target="_blank" title="Abhinav Sharma" class="fa fa-linkedin"></a>
          </div>
        </div>
        <div class="row">
          <div class="col tele">
            <div style="text-decoration-line: underline; text-decoration-style: double; font-size: 10vh;">
            Reach Me
            </div> : )
          </div>
        </div>
    </div>
</div>
<app-circle-animation></app-circle-animation>