<div id="form-wrapper">
    <form>
      <div id="slider">
        <input type="radio" name="page" id="1" value="1" required checked="checked" routerLink="/aboutme">
        <label for="1" title="About Me"></label>
        <input type="radio" name="page" id="2" value="2" required routerLink="/techstack">
        <label for="2" title="My Tech Stack"></label>
        <input type="radio" name="page" id="3" value="3" required routerLink="/projects">
        <label for="3" title="My Projects"></label>
        <input type="radio" name="page" id="4" value="4" required routerLink="/resume">
        <label for="4" title="Resume"></label>
        <input type="radio" name="page" id="5" value="5" required routerLink="/contactme">
        <label for="5" title="Contact Me"></label>
        <div id="dot-pos"></div>
      </div>
    </form>
</div>