$a : #f1c40f;
$b : #e67e22;
$c : #e74c3c;
$d : #9b59b6;
$e : #3498db;

.box{
    background-color: $d;
}


$button-bg-color: #bd70db;
$button-border-color: #9b59b6;

.center {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: $d;
}

@mixin btn-hover-effect($boxshadow, $width, $bgColor, $textColor){
  button{
  display:block;
  margin:50px auto;
  overflow:hidden;
  position:relative;
  width:$width;
  padding:20px 0;
  border-radius:30px;
  cursor:pointer;
  font-size:1.1em;
  font-weight:bold;
  border: solid white 2px;
  transition:all 0.5s ease-in-out;
  z-index:1;
  color:$textColor;
  box-shadow: inset 0px 0px 3px $boxshadow;
  &:before{
    content:'';
    display:inline-block;
    transform:translateY(50%);
    left:0;
    position:absolute;
    width:180px;
    height:180px;
    border-radius:50%;
    background-color:$bgColor;
    z-index:-1;
    transition: transform ease 1s;
  }
  &:hover{
    &:before{
      transform:translateY(-45%);
  }
     color:black;
     transition:color 0.1s ease;
     transition-delay:0.2s;
  }
}
}
@include btn-hover-effect(white, 180px, white, white);


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .box{
    position: relative;
    z-index: 5;
  }
  button{
    z-index: 10;
  }
}