$a : #f1c40f;
$b : #e67e22;
$c : #e74c3c;
$d : #9b59b6;
$e : #3498db;

.box {
    background-color: $c;
}

$color-white: #ffffff;
$color-light: #f1f5f8;
$color-black: #252a32;
$color-blue: #148cb8;
$color-red: #ce4031;

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
  padding: 10px;
}

// Elements
.container {
	max-width: 80rem;
	width: 100%;
	height: auto;
	//padding: 0 2rem;
	margin: 0 auto;
}

.text {
	font-family: inherit;
	font-weight: 800;
	line-height: inherit;
	text-rendering: optimizeLegibility;
  
	&-title {
		font-size: 1.25rem;
    text-align: center;
		color: $color-white;
	}
}

.paragraph {
	font-family: inherit;
	font-size:medium;
	font-weight: normal;
	line-height: inherit;
	margin: 0.25rem 0;
	color: $color-white;
	text-transform: unset;
	text-rendering: optimizeLegibility;
}

.truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	text-overflow: clip;
}

// Main
.main {
	.scroll {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 1rem 0;
		margin: 2.5rem 0;
		cursor: default;
		overflow: scroll hidden;
		scroll-snap-type: x mandatory;
		scroll-padding: 0px 1.25rem;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&.active {
			cursor: grab;
			cursor: -webkit-grab;
		}

		.card {
      position: relative;
      z-index: 5;
			width: 19rem;
			height: auto;
			flex: 0 0 auto;
			margin: 0 0.75rem;
			border: none;
			outline: none;
			border-radius: 15px;
			color: $color-black;
			background: $color-red;
			box-shadow: 0 3px 6px white, 0 3px 6px white;
      		//border: 4px white solid;
      // animation: glowing 10s ease-in-out infinite alternate;
      //box-shadow: rgb(255, 255, 255) 0px 2px 4px 0px, rgba(255, 255, 255) 0px 2px 16px 0px;


			&-image {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				padding-top: 110%;

				img.responsive {
					position: absolute;
          // border-top-left-radius: 15px;
          // border-top-right-radius: 15px;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&-inner {
				width: 100%;
				height: auto;
				padding: 1rem;
			}
		}
	}
}

@keyframes glowing {
  from {
    border: 4px white solid;
  }
  to {
    border: 4px black solid;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  // *{
  //   position: relative;
  //   z-index: 5;
  // }
}