$a : #f1c40f;
$b : #e67e22;
$c : #e74c3c;
$d : #9b59b6;
$e : #3498db;

*{
    background-color: $b;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  *{
    position: relative;
    z-index: 5;
  }
}
