$a : #f1c40f;
$b : #e67e22;
$c : #e74c3c;
$d : #9b59b6;
$e : #3498db;

.box{
    background-color: $b;
}

img {
  height: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.mes {
  margin-top: 50px;
}

.bottom-align-text {
  position: fixed;
  bottom: 25%;
  text-align: center;
  h3 {
    font-weight: 800;
    font-size: 11vh;
    color: white;
    animation: slide-in-right 5s 1s;
    text-decoration: underline overline;
  }
}

// .bottom {
//   height: 100%;
//   text-align: center;
//   z-index: 5;
//   position: relative;
//   div {
//     font-weight: 800;
//     margin-bottom: 0;
//     font-size: 15vh;
//     color: white;
//     animation: slide-in-right 5s 1s;
//   }
// }

#container {
  height:200px;
  margin-top: 15%; 
  position:relative; 
  overflow:hidden;
  z-index: 5; 
} 

.photobanner {
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 15s linear infinite;
}

.photobanner img {    
  margin: 0 0.5em 
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 780px) {
  .bottom-align-text {
    h3 {
      font-size: 11vh;
    }
  }
  .photobanner {
    animation: bannermove 10s linear infinite;
  }
}
