<div class="box">
  <div class="hero-banner">
    <h1 class="hero-banner__title" aria-hidden="true">Abhinav Sharma</h1>
    <img class="hero-banner__image" src="assets/images/me21.png"/>
    <h1 class="hero-banner__title hero-banner__stroked-title">Abhinav Sharma</h1>
  </div>
  <h5 class="banner__subtitle1">Hello there, I'm</h5>
  <div class="container content">
    <div class="row"> 
      <div class="col d-flex justify-content-center movlef1">
        and this is my portfolio.
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center movrig1">
        : )
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center movlef2">
        I'm passionate about
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center passion-item">Web Development</div>
      <div class="col d-flex justify-content-center passion-item">Image Processing</div>
      <div class="col d-flex justify-content-center passion-item">Artificial Intelligence</div>
      <div class="col d-flex justify-content-center passion-item">Algorithms & Stuff</div>
      <div class="col d-flex justify-content-center passion-item">Collaborative Projects</div>
    </div>
  </div>
  <!-- <div class="container main">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <img class="image" src="assets/images/me11.png">
      </div>
    </div>
    <div class="row mt-1 h-100">
      <div class="col-6 d-flex pr-0 justify-content-center">
        <div class="container">
          <div class="row"> 
            <div class="col-12">Hello, there</div>
          </div>
          <div class="row">
            <div class="col-12">I'm</div>
          </div>
          <div class="row name">
            <div class="col-12">Abhinav Sharma</div>
          </div>
          <div class="row name1">
            <div class="col-12">And this is my portfolio</div>
            <div  class="col-12">: )</div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <div class="bar"></div>
      </div>
      <div class="col-5 d-flex pl-0 justify-content-center">
        <div class="container">
          <div class="row name1">
            I'm passionate about
          </div>
          <div class="row">
            <div class="carousel slide caro w-100" data-ride="carousel" data-interval="1000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  Web Development
                </div>
                <div class="carousel-item">
                  Image Processing
                </div>
                <div class="carousel-item">
                  Competitive Programming
                </div>
                <div class="carousel-item">
                  Collaborative Projects
                </div>
              </div>
            </div>
          </div>
          <div class="row newimg">
            <img src="assets/images/img0.png">
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<app-circle-animation></app-circle-animation>