$a : #f1c40f;
$b : #e67e22;
$c : #e74c3c;
$d : #9b59b6;
$e : #3498db;

.box{
    background-color: $a;
    height: 100vh;
}

.main {
  padding: 0;
  margin-top: 40px;
  height: 30%;
}

.image {
  border : white solid 4px;
  border-radius: 10%;
  width: 50vmin;
  position: relative;
  z-index: 5;
}

.bar {
  background-color: white;
  width: 2vh;
}

.name {
  font-weight: 800;
  font-size: 7.5vh;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
}

.name1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3.5vh;
  text-align: right;
}

.carousel-item{
  color: white;
}

.carousel-item:nth-child(1){
  background-color: $b;
}
.carousel-item:nth-child(2){
  background-color: $c;
}
.carousel-item:nth-child(3){
  background-color: $d;
}
.carousel-item:nth-child(4){
  background-color: $e;
}

.caro {
  font-weight: 800;
  font-size: 5vh;
}

.newimg{
  img{
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 480px) {
  .bar {
    width: 4vh;
  }
  .main {
    height: 50%;
  }
  .name {
    font-size: 5vh;
  }
  .caro {
    font-size: 3vh;
  }
}