<div class="box">
    <div class="content">
      <div class="class1a">
        Hello there,
      </div>
      <div class="class1b">
        I'm Abhinav Sharma
      </div>
      <div class="class1c">
        <div>
          a CS Major Student<br>at<br>SRMIST (Chennai), India.
        </div>
        <div class="grid-container">
          <div class="item1">
            <div id=container>
              I'm Passionate About
              <div id=flip>
                <div><div>Collaborative Projects</div></div>
                <div><div>Competitive Programming</div></div>
                <div><div>Computer Vision</div></div>
                <div><div>Web Development</div></div>
                <div><div>Image Processing</div></div>
              </div>
            </div>
          </div>
          <div class="item2">
            <img src="assets/images/me1.png">
          </div>
        </div>
      </div>
    </div> 
</div>
<app-circle-animation></app-circle-animation>